src/main/resources/META-INF/wsdl/SendCats.wsdl

<?xml version="1.0" encoding="UTF-8"?>

<definitions
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        targetNamespace="http://skpari.ru/core/services/commission/"
        xmlns:tns="http://skpari.ru/core/services/commission/"
        xmlns:mes="http://skpari.ru/core/messages/commission/"
>

    <!--<wsp:Policy wsu:Id="UsernameToken"-->
                <!--xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"-->
                <!--xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">-->
        <!--<wsp:ExactlyOne>-->
            <!--<wsp:All>-->
                <!--<sp:SupportingTokens>-->
                    <!--<wsp:Policy>-->
                        <!--<sp:UsernameToken-->
                                <!--sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">-->
                            <!--<wsp:Policy />-->
                        <!--</sp:UsernameToken>-->
                    <!--</wsp:Policy>-->
                <!--</sp:SupportingTokens>-->
            <!--</wsp:All>-->
        <!--</wsp:ExactlyOne>-->
    <!--</wsp:Policy>-->

    <types>
        <schema
                xmlns="http://www.w3.org/2001/XMLSchema"
                targetNamespace="http://skpari.ru/core/messages/commission/"
                xmlns:com="http://skpari.ru/core/domain/commission/"
        >
            <import namespace="http://skpari.ru/core/domain/commission/"
                    schemaLocation="../cats.xsd"/>

            <element name="getCat">
                <complexType>
                    <sequence/>
                </complexType>
            </element>

            <element name="responseCat">
                <complexType>
                    <sequence>
                        <element name="Cat" type="com:CatType"/>
                    </sequence>
                </complexType>
            </element>

            <element name="getFault">
                <complexType>
                    <sequence>
                        <element name="code">
                            <simpleType>
                                <restriction base="string">
                                    <enumeration value="temporarilyUnavailable"/>
                                    <enumeration value="invalidCode"/>
                                    <enumeration value="notFound"/>
                                </restriction>
                            </simpleType>
                        </element>
                        <element name="description" type="string"/>
                    </sequence>
                </complexType>
            </element>

        </schema>
    </types>


    <message name="getCatMessage">
        <part element="mes:getCat" name="request"/>
    </message>

    <message name="responseCatMessage">
        <part element="mes:responseCat" name="response"/>
    </message>

    <message name="getFaultMessage">
        <part element="mes:getFault" name="fault"/>
    </message>


    <portType name="SendCatsPort">
        <operation name="getCat">
            <input message="tns:getCatMessage" name="getNamesByCodeRequest"/>
            <output message="tns:responseCatMessage" name="getNamesByCodeResponse"/>
            <fault message="tns:getFaultMessage" name="getNamesByCodeFault"/>
        </operation>
    </portType>

    <binding name="SendCatsSoapBinding" type="tns:SendCatsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!--<wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#UsernameToken"/>-->
        <operation name="getCat">
            <soap:operation soapAction="" style="document"/>
            <input name="getNamesByCodeRequest">
                <soap:body use="literal"/>
            </input>

            <output name="getNamesByCodeResponse">
                <soap:body use="literal"/>
            </output>

            <fault name="getNamesByCodeFault">
                <soap:fault name="getNamesByCodeFault" use="literal"/>
            </fault>
        </operation>
    </binding>

    <service name="SendCatsService">
        <port binding="tns:SendCatsSoapBinding" name="SendCatsPort">
            <soap:address location="replace.me"/>
        </port>
    </service>

</definitions>